{% extends 'store/main-index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href='{% static "css/globals.css" %}' rel='stylesheet'>
  <title>TecnoKey</title>
</head>
<!-- <img src="{% static 'files/matcha1.jpg' %}" alt="teclado"/> -->
<!-- <img src="{% static 'files/matcha1.jpg' %}" alt="teclado"/ class="header"> -->

<body>
    
{% block content %}
<div>
  <header id="home" class="header">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="container">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <h6 class="carousel-title">Bienvenido a</h6>
                        <h1 class="carousel-title">TecnoKey</h1>  
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="infos container mb-4 mb-md-2">
        <div class="title">
            <h6 class="carousel-title">Personaliza tu Teclado</h6>
            <h2>Que nunca te falten los puntos ...</h2>
        </div>
    </div>
  </header>
  <section class="section" id="about">
    <div class="container">
        <div class="row align-items-center mr-auto">
            <div class="col-md-4">
                <h6 class="xs-font mb-0">¿Quién Somos?</h6>
                <h3 class="section-title">Sobre Nosotros </h3>
                <p>Nos dedicamos a la venta de switches y keycaps. Para que puedas personalizar tu teclado al máximo. ¡ Envios a Todo Chile !.</p>
            </div>
            <div class="col-sm-6 col-md-4 ml-auto">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-calendar"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">15+</h4>
                        <p>Personas que Visitaron la Página</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-face-smile"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">125+</h4>
                        <p>Personas que Compraron</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-star"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">3434+</h4>
                        <p>Envíos Realizados</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-user"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">80+</h4>
                        <p>Clientes Felices</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
        <h6 class="xs-font mb-0">¿Ques es?</h6>
        <h3 class="section-title mb-4">¿De que se trata TecnoKey?</h3>
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="card border-0 text-dark">
                    <img src="{% static 'files/slider4.jpg'' %}" alt="teclado" class='card-img-top-inicio'/>
                    <span class="card-body">
                        <h4 class="title mt-4">Codificación / Diseño</h4>
                        <p class="name">Quieres que tú teclado se vea bonito, es tu oportunidad de darle un cambio</p>
                    </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 text-dark">
                    <img src="{% static 'files/slider3.jpg'' %}" alt="teclado" class='card-img-top-inicio'/>
                    <span class="card-body">
                        <h4 class="title mt-4">Diseño Grafíco</h4>
                        <p class="name">Quieres que tus diseños mejoren, es la hora de cambiarte a un teclado custom</p>
                    </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 text-dark">
                  <img src="{% static 'files/matcha2.jpeg' %}" alt="teclado" class='card-img-top-inicio'/>
                    <span class="card-body">
                        <h4 class="title mt-4">Desarrollo</h4>
                        <p class="name">Quieres programar de una manera más rápida, cambia tus switches</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="section bg-overlay">
    <div class="container">
        <div class="infos mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">Personaliza tu Teclado</h6>
                <h5>Que nunca te falten los puntos ...</h5>
                </div>
                <div class="socials">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h4 class="subtitle font-weight-normal">Contacto</h4>
                            <h6 class="subtitle font-weight-normal">+569 66774356</h6>
                            <h6 class="subtitle font-weight-normal">TecnoKey@gmail.com</h6>
                            <h6 class="subtitle font-weight-normal">TecnoKey@hotmail.com</h6>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>

</div>
{% endblock content %}
</body>
</html>